#certificate{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--color1);
}

#certificate .container{
    position: relative;
    display: flex;
    flex-direction: column;
}


.cert-circle{
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(5rem) opacity(30%);
    mix-blend-mode: exclusion ;
}

.cert-circle1{
    top: 0;
    left: 0;
    background-color: var(--color2);
    animation: cert-circle1 infinite 60s;

}


.cert-circle2{
    bottom: 0;
    right: 0;
    background-color: var(--color3);
    filter: blur(5rem) opacity(10%);
    animation: cert-circle2 infinite 60s;


}


@keyframes cert-circle1 {
    0%{
        transform: translate(0,0);
    }

    20%{
        transform: translate(200%, 200%);
    }
    40%{
        transform: translate(150%,250%);
    }

    60%{
        transform: translate(100%,200%);
    }

    70%{
        transform: translate(150%,250%);
    }
    80%{
        transform: translate(200%, 200%);
    }
    100%{
        transform: translate(0,0);
    }
    
}


@keyframes cert-circle2 {
    0%{
        transform: translate(0,0);
    }

    20%{
        transform: translate(-200%, -200%);
    }
    40%{
        transform: translate(-150%,-250%);
    }

    60%{
        transform: translate(-100%,-200%);
    }

    70%{
        transform: translate(-150%,-250%);
    }
    80%{
        transform: translate(-200%, -200%);
    }
    100%{
        transform: translate(0,0);
    }
    
}




/* Heading */

#certificate .heading h2{
    color: var(--color6);
}

#certificate .heading p{
    color: var(--color5);
}

/* cert-list */
.cert-list{
    display: flex;
    flex-direction: column;
}

/* cert-item */
.cert-item{
    display: flex;
    gap: var(--padding1);
    align-items: center;
    padding: var(--padding1) 0 ;
    border-top: 2px solid var(--color4);


}


.cert-item:last-child{
    padding: var(--padding1) 0 0 0;

}


.cert-title{
    width: 18rem;
    color: var(--color3);
}

.cert-item .description{
    display: flex;
    flex-direction: column;
    gap: var(--padding3);
    width: auto;
}

.cert-item .description h5{
    color: var(--color6);
}

.cert-item .description p{
    color: var(--color5);
}


.cert-button{
    display: flex;
    flex-direction: row-reverse;
    gap: var(--padding3);
    width: max-content;
}

.cert-button a{
    display: flex;
    align-self: center;
    gap: .5rem;
    width: 100%;
}



.cert-button a:last-child{
    display: flex;
    background: none;
    border: solid .1rem var(--color2);
    color: var(--color2);
    transition: var(--transition2);
}

.cert-button a:last-child:hover{
    color: var(--color6);
    border: solid .1rem var(--color6);
    
}




.cert-button .fi-br-download{
    color: var(--color1);
}


.cert-onview{
    position: fixed;
    width: 90%;
    height: 95%;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, -110%);
    padding: var(--padding1);
    border-radius: 0 0  var(--padding3) var(--padding3);
    background-color: rgba(255, 255, 255, 0.03);
    z-index: 2001;
    backdrop-filter: blur(.5rem);
    transition: var(--transition2);
    display: flex;
    justify-content: center;
}

.cert-onview-a.active, .cert-onview-b.active, .cert-onview-c.active, .cert-onview-d.active{
    transform: translate(-50%, 0%);

}

.cert-onview-c img{
    transform: rotate(90deg);
}


.cert-onview div{
    position: relative;
    display: flex;
    align-items: center;

}

.cert-onview .icon{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    color: var(--color1);
    background-color: var(--color2);
}

.cert-onview .button-m{
    position: absolute;
    min-width: 2.5rem;
    background: none;
    background-color: var(--color6);
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
    cursor: pointer;

}

.cert-onview .button-m i{
    color: var(--color1);
}



.cert-onview .button-m:hover span{
    display: flex;
}


.cert-onview img{
    height: 100%;
}

@media screen and (max-width: 768px){


    .cert-item{
        position: relative;
        gap: 1rem;
        width: 100%;
        flex-direction: column;
    
    }

    .cert-item .cert-title{
        left: 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 1rem; 
        top: var(--padding1);
        color: var(--color5);
    }

     .cert-item .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 1rem;
    }

    .cert-item .description h5{
        font-size: 1.4rem;
        width: 80%;
    }

    .cert-item .description p{
        text-align: left;
    }

    .cert-onview img{
        height: 60%;
    }

    .cert-button{
        gap: .5rem;
        width: 100%;


    }

    #certificate .cert-button .button-m{
        width: 2rem;
        height: 2rem;
    }

    .cert-button .button-m:nth-child(2):hover{
        border: none;
    }

    .cert-button .button-m:nth-child(1){
        background: none;
        color: var(--color1);
        background-color: var(--color2);
    }

    .cert-button .button-m:nth-child(2){
        display: flex;
        border: none;
    }
    .cert-button .button-m .remove{
        display: none;
    }
    



 

}
