footer{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--color1);
}


.footer-wrapper{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}


footer .col p, footer .col a{
    color: var(--color5);
    transition: var(--transition2);
}

footer .col .button-contact{
    color: var(--color1);
}

footer .col:not(:nth-child(1)){
    margin-top: .95rem;
}

footer .col:nth-child(1){
    min-width: 20rem;
    max-width: 100%;
}

footer .sub-col, footer ul, footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--padding2);
}

footer .col h6{
    color: var(--color6);
}

footer .sub-col a:hover{
    color: var(--color3);

}

footer iframe{
    position: absolute;
    display: none;
}

footer .follow{
    flex-direction: row;
    gap: var(--padding3);
}

footer .follow .icon, footer i{
    transition: var(--transition2);
}

footer .follow .icon:hover{
    background-color: var(--color2);
}

footer .follow .icon:hover i{
    margin-bottom: .5rem;
}

footer .horizontal-line{
    width: auto;
    height: 2px;
    background-color: var(--color4);
    margin: 0 var(--padding1);
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color5);
    padding: var(--padding2) var(--padding1);
}


@media screen and (max-width:768px) {
    

    .footer-wrapper{                        
        flex-direction: column;
        gap: var(--padding2);
    }



    footer .copyright{
        flex-direction: column;

    }
    
}