#skills{
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#skills .container{
    position: relative;
}

.skills-circle{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    z-index: 0;

}



.skills-circletop{
    position: absolute;
    width: 120vw;
    height: 120vw;
    border-radius: 50%;
    background-color: var(--color3);
    filter: blur(5rem) opacity(40%);
    top: 0;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: -1;
}

.skills-circle1{
    left: var(--padding1);
    top: 50%;
    transform: translate(0,-50%);
    background: var(--color3);
    animation: 60s skillscircle1 infinite;
    filter: blur(2rem) opacity(.2);
    transition: 2s ease-out;


}

.skills-circle2{
    right: var(--padding1);
    top: 50%;
    transform: translate(0,-50%);
    background: var(--color2);
    animation: 60s skillscircle2 infinite;
    filter: blur(2rem) opacity(.3);
    transition: 2s ease-out;


}


@keyframes skillscircle1 {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(200%, 100%);
    }
    50%{
        transform: translate(400%, -100%);

    }
    75%{
        transform: translate(200%, 100%);
    }
    100%{
        transform: translate(0,0);
    }
}


@keyframes skillscircle2 {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(-200%, -100%);
    }
    50%{
        transform: translate(-400%, 100%);
         mix-blend-mode: normal;

    }
    75%{
        transform: translate(-200%, -100%);
    }
    100%{
        transform: translate(0,0);
    }
}


#skills::before{
    content: "";
    position: absolute;
    background: linear-gradient(-90deg, var(--color1)30%, var(--color2), var(--color3), var(--color6));
    bottom: 0;
    right: 0;
    height: 20%;
    width: 80%;
    animation: 30s skills-before infinite;
}

@keyframes skills-before {
    0%{
        transform: translate(0,0);
    }
    
    50%{
        transform: translate(10%,0);
    }

    100%{
        transform: translate(0%,0);
    }
}




#skills .round-q{
    position: absolute;
    top: 0;
    transform: rotate(-90deg);
    right: 0;
    width: 5rem;
    height: auto;
    transition: var(--transition1);
    z-index: 0;
}

#skills .card:hover .round-q{
    transform: rotate(-90deg);
    width: 6rem;
}

#skills .card{
background-color: rgba(212, 217, 221, 0.425);
    backdrop-filter: blur(20px);
    
}


#skills .card-image{
    overflow: hidden;
}


#skills .card-image::before{
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color2);
    filter: blur(4rem);
    top: 0;
    left: 0;
    z-index: 0;

    animation: 20s card-image infinite;
    
}

@keyframes card-image {
    0%{
        transform: translate(0%, 0%);

    }

    15%{
        transform: translate(100%, 100%);
    }
    
    30%{
        transform: translate(200%, 0%);
    }

    50%{
        transform: translate(300%, 100%);
    }

    70%{
        transform: translate(200%, 0%);
    }


    85%{
        transform: translate(100%, 100%);
    }


    0%{
        transform: translate(0%, 0%);

    }


}

#skills .card-image{
    padding: var(--padding2);
    color: var(--color6);
    max-width: 100%;
    background-color: var(--color1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--padding3);
    justify-content: flex-start;
    align-items: flex-start;
}

#skills .card-image h5{
    color: var(--color5);
}

#skills .card-image h3{
    position: relative;
    max-width: 80%;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    
    
#skills .card-image h3{
    max-width: 60%;
    text-align: left;
}

}




.card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: var(--padding2);
}


.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--padding3);
    color: var(--dark-navy);
    overflow: hidden;
    transition: ease-out .5s;
}



.card::before{
    content: "";
    right: 0;
    height: 0%;
    width: 0%;
    top: 0;
    position: fixed;
    background-color: var(--color2);
    transition:var(--transition2);
    z-index: 0;
}

.card:hover::before{
    height: 100%;
    width: 100%;  
}


.card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--padding3);
    padding: var(--padding2);
    justify-content: space-between;    
}

.card-content p{
    color: var(--color5) ;
}

.card-list{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(7rem,1fr)); 
    grid-template-rows: auto; 
    gap: 1em var(--padding2); 
}


.card-list li{
    display: flex;
    align-items: center;
    color: var(--color5);
    gap: .5rem;
}


@media screen and (max-width: 920px) {
    .card-wrapper{
        grid-template-columns: 1fr;
    }
    
}